@model List<string>

@{
    ViewData["Title"] = "Home Page";
    string admin = ViewData.ContainsKey("admin") ? (string)ViewData["admin"] : "--";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach(var name in Model)
    {
        <p>@name</p>
    }

    <p>admin: @admin</p>

    
</div>
