@page "/person/list"
@inject InsCorpDbContext db
@inject NavigationManager nav

<h3>Seznam osob:</h3>

<table class="table">
	<tr>
		<td>
			Jméno
		</td>
		<td>
			Přijmení
		</td>
		<td>
			Dat.nar.
		</td>
		<td>
			Email
		</td>
		<td>
			akce
		</td>

	</tr>
	@foreach (var person in people)
	{
		<tr>
			<td>
				@person.FirstName
			</td>
			<td>
				@person.LastName
			</td>
			<td>
				@person.DateOfBirth.ToShortDateString()
			</td>
			<td>
				<a href="/person/detail/@person.Id">@person.Email</a>
			</td>
			<td>
				<a class="btn btn-primary btn-sm" style="background:orange" href="/person/edit/@person.Id">edit</a>
			</td>
			<td>
				<button class="btn btn-primary btn-sm" style="background:green" @onclick="() => EditPerson(person.Id)">edit</button>
			</td>
		</tr>
	}
</table>

<div class="row">
	<div class="col-2">
		<button class="btn btn-primary" @onclick="prev">Předchozí</button>
	</div>
	<div class="col-2">
		<button class="btn btn-primary" @onclick="next">Další</button>
	</div>
</div>


@code {
	List<Person> people = new();
	int currentPage = 0;

	protected override void OnInitialized()
	{
		LoadPeople();
	}

	void LoadPeople()
	{
		people = db.Persons.Skip(currentPage * 20).Take(20).ToList();
	}

	void EditPerson(int id)
	{
		nav.NavigateTo($"/person/edit/{id}");
	}

	void prev()
	{
		if (currentPage > 0)
			--currentPage;
		LoadPeople();
	}

	void next()
	{
		++currentPage;
		LoadPeople();
	}
}
