@page "/person/search"

<h3>Hledej osoby podle emailu:</h3>

<SearchBox Label="Email" OnSearch="SearchPerson" />

@if(persons != null & persons.Count > 0)
{
	<table>
	@foreach(var person in persons)
	{
		<tr>
			@person
		</tr>
	}
	</table>
}

@code {

	List<Person> persons = new();

	void SearchPerson(string searchterm)
	{
		using HttpClient client = new HttpClient();

		var apiurl = "https://localhost:7033";
		var url = $"{apiurl}/api/person/SerchByEmail/{searchterm}";

		//var result = await client.GetFromJsonAsync<List<Person>>($"{apiurl}/api/person/SerchByEmail/{searchterm}");

		try
		{
			persons = client.GetFromJsonAsync<List<Person>>(url).Result;

			StateHasChanged();
		}
		catch (Exception)
		{
			throw;
		}
	}
}
